# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__

# JS distribution / packaging
node_modules/

# Serverless directories
.serverless

a.txt

# IDE / Code editor files
.vscode
.idea
venv
.DS_Store

# Local Variables
.env

# Pytest cache
.pytest_cache